<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>In Depth</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
            	<h2> What is it?</h2>
       				<p></h3>The Z-Pack is a backpack that contains a <b>wireless electro-stimulation device</b>. Wireless pads placed on your back <b>relieve your muscle pain</b>.<br>The Z-Pack mobile app allows you to control frequency of the impulses and log your usage.</h3></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
         		<h2>How does it work? </h2>
         			<p></h3>By placing the two Z-Pads onto your back or shoulder, energy is able to be transfered from the backpack through your muscles to create the <b>ultimate relaxing sensation</b>.<br>Connect your smartphone via bluetooth to control your experience.</h3></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="imgs/zpackiso.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="imgs/zpackback.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!--a href="#" class="btn btn-dark">View More Items</a -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
