<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>In Depth</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
            	<h2> What is it?</h2>
       				<p> The Z-Pack is a backpack that contains a <b>wireless electro-stimulation device</b>. The Z-Pack sends electrical impules through small pads placed wirelessly on your back to <b>relieve your muscle aches</b>.<br>The Z-Pack mobile app allows you to control frequency of the impulses and log your usage. Analyze the mobile app's logs to see which when you seem to need relaxation the most!</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
         		<h2>How does it work? </h2>
         			<p> By placing the two Z-Pads onto your back or shoulder, energy is able to be transfered from the backpack through your muscles to create the <b>ultimate relaxing sensation</b>. Connect your smartphone via bluetooth to adjust the frequency and view the when, and for how long, your e-stim was previously used. </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="imgs/building_smile.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="imgs/backpacking_nature.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
